// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
    background-effect { blur true; }
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 512; }
    default-window-height { fixed 288; }
    open-focused false
    default-floating-position x=100 y=100 relative-to="top-left"
}

window-rule {
    match app-id=r#"^zen-beta$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 720; }
    default-window-height { fixed 405; }
    open-focused false
    default-floating-position x=50 y=60 relative-to="top-right"
}

window-rule {
    match app-id=r#"^cliphist$"#
    open-floating true
    open-focused true
    default-column-width { fixed 800; }
    default-window-height { fixed 1000; }

    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^thunderbird$"#
    open-focused true
    open-maximized-to-edges true
    open-on-workspace "office"
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match app-id=r#"^askpass$"#
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { fixed 500; }
    block-out-from "screen-capture"
}

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
